h1{
    color:blue;
    font-family: cursive;
    background-color: rgb(0, 255, 21);
}
p{
    color:red;
}

table,td,th{
    border:1px solid red;
}
 table{
     width: 100%;
 }
 body{
     background-color:rgb(145, 243, 186);
 }

 #food{
     color:rgb(226, 15, 103);
 }

 #edu{
     color:purple;
     font-family:monospace;
 }
 .profile{
     color:rgb(19, 188, 218)
 }
 .personal{
     color:pink;
 }

